body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f0f4f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  background: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

button {
  border: none;
  outline: none;
}

h1{
  color: #000000;
}

#countdown {
  font-size: 2em;
  margin-top: 20px;
  color: #333;
}

#countdown span {
  font-weight: bold;
}